
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');


*{
  box-sizing: border-box;
  margin: none;
  padding: 0px;
}


body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;  /* it works with grid too  */
    justify-content: center;
    align-items: center;
}

.container {
  background-color: white;
  width: 600px;
  padding: 0;
  height: 450px;
  margin-bottom: -1em;
  border-radius: 10px;
  overflow: hidden;
  grid: inline-grid;
}

h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: small;
  letter-spacing: 4px;
  color: hsl(228, 12%, 48%);
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  padding-right: 15px;
  margin-top: 15px;
  line-height: 1;
  color: hsl(212, 21%, 14%);
}

p{
  font-family:"Montserrat", sans-serif ;
  font-size: 14px;
  margin-top: 0em;
  font-weight: 500;
  line-height: 1.5;
  max-width: 100%;
  color: hsl(228, 12%, 48%);
}
span{
  color: hsl(228, 12%, 48%);
  font-style: normal;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: line-through;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  
}
.img-container{
  padding: 0px;
  margin: none;
  max-width: 50%;
  height: auto;
  

}
.description-container {
  padding: 15px 30px 30px 30px;
  max-width: 50%;
  height: auto;
  float: right;
}

.price {
  margin-top: 1em;
  padding-top: 10px;
  color: hsl(158, 36%, 37%);
}
.desktop-img {
  max-width: 100%;
  position: relative;
  max-height: 100%;
  padding: 0px;
  margin: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  float: left;
}

.mobile-img{
  display: none;
}

button{
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  margin-top: 2px;  
  color: white;
  font-weight: 600;
}

svg {
  margin-right: 10px;
}

@media only screen and (max-width: 780px){
  /* For mobile phones: */
  body{
    margin-top: -1em;
  }
  .container {
    margin: none;
    padding: 0px;
    width: 80%;
    height: auto;
    flex-direction: column;
    display: flex;
  }

  .mobile-img{
    display: block;
    width: 100%;
    height: auto;
  }

  .img-container{
    margin: none;
    max-width: 100%;
  }
  .description-container{
    max-width: 100%;
    margin: none;
    padding: opx;
    line-height: .8;
  }


  .desktop-img{
    display: none;
  }

  h1{
    font-size: 30px;
  }
}
@media only screen and (max-width: 550px){
  /* For mobile phones: */
  body{
    margin-top: -1em;
  }
  .container {
    margin: none;
    padding: 0px;
    width: 80%;
    height: auto;
    flex-direction: column;
    display: flex;
  }

  .mobile-img{
    display: block;
    width: 100%;
    height: auto;
  }

  .img-container{
    margin: none;
    max-width: 100%;
  }
  .description-container{
    max-width: 100%;
    margin: none;
    padding: opx;
    line-height: .8;
  }


  .desktop-img{
    display: none;
  }

  h1{
    font-size: 30px;
  }
}



@media only screen and (max-width: 425px){
  /* For mobile phones: */
  body{
    margin-top: -1em;
  }
  .container {
    margin: -3em;
    padding: 0px;
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
  }

  .mobile-img{
    display: block;
    width: 100%;
    height: auto;
  }

  .img-container{
    margin: none;
    max-width: 100%;
  }
  .description-container{
    max-width: 100%;
    margin: none;
    padding: opx;
    line-height: .8;
  }


  .desktop-img{
    display: none;
  }

  h1{
    font-size: 30px;
  }
}